*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html{
    height: 100%;
    width: 100%;


}

.signup-container{
display: flex;
height: 100vh;
}

.left-signup{
    flex: 1;
    background: url(images/girl.png) no-repeat;
   
    
}
.rigth-signup{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef6f9;
    position: absolute;
}

.form-box{
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-box h2{
    margin-bottom: 1.5rem;
    color: #d63384;
}

.form-box input{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-box button{
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #d63384;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.form-box button:hover{
    color: #c21870;
}